In [1]:
#import necessary packages
import pandas as pd
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/eshanyepurakan/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
#read in csv
df = pd.read_csv('/Users/eshanyepurakan/Downloads/BaselineTWEET/Clean.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df.shape

(4093081, 6)

In [4]:
df.head()

,Unnamed: 0,id,conversation_id,date,tweet,clean_tweet
0,0,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:59,AstraZeneca sheds another drugline https://t....,AstraZeneca sheds another drugline
1,1,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:59,omg hicieron la version moderna de scum yaaas ...,omg hicieron la version moderna de scum yaaas ...
2,2,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:59,Remember The Church of Notre Dame. Its going t...,Remember The Church of Notre Dame. Its going t...
3,3,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:49,Moderna currently has strategic alliances for ...,Moderna currently has strategic alliances for ...
4,4,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:44,Victory! Pharma Giant Pfizer Bans the Cruel Fo...,Victory! Pharma Giant Pfizer Bans the Cruel Fo...

In [8]:
#ensure tweets are strings
df.clean_tweet = df.clean_tweet.astype(str)

In [9]:
df['vader_scores_compound'] = df['clean_tweet'].apply(lambda x: sid.polarity_scores(x)['compound'])

In [10]:
df.head()
df.shape

(4093081, 7)

In [11]:
#sentiment is classifed in the same way between vader and textblob:
def classify_sentiment(score):
    if score > 0:
        return 'POSITIVE'
    if score < 0:
        return 'NEGATIVE'
    else:
        return 'NEUTRAL'

In [12]:
df['vader_classification'] = df['vader_scores_compound'].apply(lambda x: classify_sentiment(x))

In [13]:
df.head()

,Unnamed: 0,id,conversation_id,date,tweet,clean_tweet,vader_scores_compound,vader_classification
0,0,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:59,AstraZeneca sheds another drugline https://t....,AstraZeneca sheds another drugline,0.0000,NEUTRAL
1,1,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:59,omg hicieron la version moderna de scum yaaas ...,omg hicieron la version moderna de scum yaaas ...,0.0000,NEUTRAL
2,2,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:59,Remember The Church of Notre Dame. Its going t...,Remember The Church of Notre Dame. Its going t...,-0.5994,NEGATIVE
3,3,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:49,Moderna currently has strategic alliances for ...,Moderna currently has strategic alliances for ...,0.0000,NEUTRAL
4,4,1230000000000000000.0,1230000000000000000.0,2020-03-01 18:44,Victory! Pharma Giant Pfizer Bans the Cruel Fo...,Victory! Pharma Giant Pfizer Bans the Cruel Fo...,-0.7959,NEGATIVE

In [14]:
df.to_csv('/Users/eshanyepurakan/Downloads/BaselineTWEET/tweets-vadered.csv')